body
{
    
    margin-top: 5%;
    margin-left: 35%;
    background-image: url(../images/b1.jpg);
    background-attachment: scroll;
}

#image
{
    width: 289px;
    height: 277px;
}

#regform
{
    background-color: rgba(253, 245, 230, 0.7); 
    width: 400px; 
    height: 300px;
    
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #ffdbd0;
    border-left-color: #ffdbd0;
    border-bottom-color: #ffdbd0;
    border-top-color: #ffdbd0;
}

#form
{
    margin-left: 80px;
}

#h1
{
    margin-left: 50px;
}

#table
{
    margin-left: 100px;
}

#buttonReg
{
    margin-left: 75px; 
    margin-top: 30px;
}

#buttonCancel
{
    margin-left: 5px; 
    margin-top: 30px;
}